---
layout: default
---
<article>
I am a graduate student in the computer science department at UCLA, currently pursuing Masters. My research interests include Deep learning and its applications in computer vision. <br/> <br/>

Currently, I am working on adversarial attacks on image classifiers in a black box setting. I am working with <a href="http://web.cs.ucla.edu/~chohsieh/" target="_blank">Prof. Cho-Jui Hsieh</a> on optimizing the number of queries required to attack a model when only the class labels of the input image are accesible from the model. <br/> <br/>

Some of the projects I worked on can be found <a href="https://github.com/simranjit2112/deeplearning"target="_blank">here</a>.<br/> <br/>

Here I try to summarize any interesting research papers that I come across. The field of deep learning is growing very rapidly and there is a lot to learn. So I try to write about some of the papers that I find interesting.
</article>
<article class="archive">
<header><h1>Publications</h1></header>
M. Cheng*, S. Singh*, P.-Y. Chen, S. Liu, and C.-J. Hsieh, "Sign-OPT: A Query-Efficient Hard-label Adversarial Attack," arXiv:1909.10773 [cs, stat], Sep. 2019. <a target="_blank" href="https://arxiv.org/abs/1909.10773">[arxiv]</a>
</article>

<article class="archive">
  {{ content }}
  <header><h1>Posts</h1></header>
  {% for post in site.posts %}
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <div>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>
    <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
  </div>
{% endfor %}
</article>


{% for page in site.posts %}
<article>
  <header>
    {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
    <h1><a href="{{ page.url | relative_url }}">{{ page.title }}</a></h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: date_format }}</time>
  </header>
  {{ page.excerpt }}
  {% unless page.excerpt == page.content %}
  <footer><a class="ghost" href="{{ page.url | relative_url }}">read more »</a></footer>
  {% endunless %}
</article>
{% endfor %}
<!-- {% if paginator.total_pages > 1 %}
<footer>
  <a {% if paginator.previous_page %}class="gray" href="{{ paginator.previous_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>« newer posts</a>
  <span>page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  <a {% if paginator.next_page %}class="gray" href="{{ paginator.next_page_path | relative_url }}"{% else %}class="disabled"{% endif %}>older posts »</a>
</footer>
{% endif %} -->
